

<!-- Header -->
<h4 class="list-name">Bobby</h4>
<ul class="enter-nav">
  <li class="list-nav"><a href="/">Home</a></li>
  <li class="list-nav">logout</li>
</ul>
<!-- Dashbaoard -->
<div class="container-fluid">
<h2>Readmissions Dashboard    <a type="button" class="btn btn-primary" href="/dashboard/data">Change Data</a></h2>

<hr class="thick">

<h3 class="chart-selction">Report for</h3>
<div id="chart-container-1" style="width:90%; height:400px;"></div>
<hr class="semi-thick">
<h3 class="chart-section">EXCESS RATIOS</h3>
<p class="p-section">In the FY 2012 IPPS final rule, a methodology was established to calculate the <strong>excess readmission ratio</strong> for each readmission measure under the Hospital Readmissions Reduction Program. The excess ratio is, in part, <strong>used to calculate the readmission payment adjustment for hospitals</strong>.
<br><br>A hospital’s excess readmission ratio is a measure of a hospital’s readmission performance compared to the national average for the hospital’s set of patients with that applicable condition.</p>
<br>
<div class="inline chart" id="chart-container-2" style="width:40%; height:400px;"></div>
<div class="inline chart" id="chart-container-3" style="width:40%; height:400px;"></div>
<div class="inline chart" id="chart-container-4" style="width:40%; height:400px;"></div>
<br>
<div class="inline chart" id="chart-container-5" style="width:40%; height:400px;"></div>
<div class="inline chart" id="chart-container-6" style="width:40%; height:400px;"></div>
