
<!-- Dashboard -->
<div class="container">
<h2>Readmissions Dashboard    <a type="button" class="btn btn-primary" href="/dashboard/data">Change Data</a></h2>

<hr class="thick">

<h3 id="hospital-name"></h3>
<div id="chart-container-1" style="width:90%; height:400px;"></div>
<hr class="semi-thick">
<div></div>
<h3 class="chart-section">EXCESS RATIOS</h3>
<p class="p-section flow-text">In the FY 2012 IPPS final rule, a methodology was established to calculate the <strong>excess readmission ratio</strong> for each readmission measure under the Hospital Readmissions Reduction Program. The excess ratio is, in part, <strong>used to calculate the readmission payment adjustment for hospitals</strong>.
<br><br>A hospital’s excess readmission ratio is a measure of a hospital’s readmission performance compared to the national average for the hospital’s set of patients with that applicable condition.</p>
<br>
<div style="width:100%; text-align:center;">
  <div class="inline chart" id="chart-container-2" style="min-width:300px; height:400px;"></div>
  <div class="inline chart" id="chart-container-3" style="min-width:300px; height:400px;"></div>
  <div class="inline chart" id="chart-container-4" style="min-width:300px; height:400px;"></div>
  <div class="inline chart" id="chart-container-5" style="min-width:300px; height:400px;"></div>
  <div class="inline chart" id="chart-container-6" style="min-width:300px; height:400px;"></div>
</div>
