

<!-- Header -->
<h4 class="list-name">Bobby</h4>
<ul class="enter-nav">
  <li class="list-nav"><a href="/">Home</a></li>
  <li class="list-nav">logout</li>
</ul>
<!-- Dashbaoard -->
<div class="container-fluid">
<h2>Readmissions Dashboard    <a type="button" class="btn btn-primary" href="/dashboard/data">Change Data</a></h2>

<hr class="thick">

<h4>Report for</h4>
<div id="#chart-container-1" style="width:100%; height:400px;></div>
