<!-- Nav -->
<% if (currentUser) { %>
  <ul class="enter-nav">
    <li class="list-nav"><a href="/">Home</a></li>
    <li class="list-nav"><a href="/logout">Logout</a></li>
    <li class="inline"><i class="tiny material-icons">perm_identity</i><%= currentUser.name %></li>
  </ul>
<% } %>

<!-- Dashboard -->
<div class="container">
<h4 class="header">Readmissions Dashboard</h4>
<a type="button" class="btn-small waves-effect waves-light" href="/dashboard/data"><i class="tiny material-icons">settings</i>Change Data</a>

<hr class="thick">

<h6 id="hospital-name"></h6>
<div id="chart-container-1" style="width:90%; height:400px;"></div>
<hr class="semi-thick">
<div></div>
<h5 class="chart-section">EXCESS RATIOS</h5>
<br>
<div style="width:100%; text-align:center;">
  <div class="inline chart" id="chart-container-2" style="min-width:300px; height:400px;"></div>
  <div class="inline chart" id="chart-container-3" style="min-width:300px; height:400px;"></div>
  <div class="inline chart" id="chart-container-4" style="min-width:300px; height:400px;"></div>
  <div class="inline chart" id="chart-container-5" style="min-width:300px; height:400px;"></div>
  <div class="inline chart" id="chart-container-6" style="min-width:300px; height:400px;"></div>
</div>
