<%- include partials/modals/queryProvider.ejs %>
<!-- - include partials/dashboard/newBenchmark.ejs %> -->


<h1>My Data</h1>

<button type="button" class="btn btn-info" data-toggle="modal" data-target="#provider-modal">Add Provider</button>
