<!-- Include modals -->
<%- include partials/auth/login.ejs %>
<%- include partials/auth/signup.ejs %>

<!-- Nav -->
<% if (!currentUser) { %>
      <ul class="enter-nav">
        <li><a class="list-nav modal-trigger" href="#login-modal">Login</a></li>
        <li><a class="list-nav modal-trigger" href="#signup-modal">SignUp</li></a>
      </ul>
    <% } %>

<% if (currentUser) { %>
  <ul class="enter-nav">
    <li class="list-nav"><a href="/dashboard">Dashboard</a></li>
    <li class="list-nav"><a href="/dashboard/data">Data Library</a></li>
    <li class="list-nav"><a href="/logout">Logout</a></li>
    <li class="inline"><i class="tiny material-icons">perm_identity</i><%= currentUser.name %></li>
  </ul>
<% } %>

<!-- Home Page -->
<div class="container">
  <h4>Hospital Readmissions Dashboard<small>   ...gratis!</small></h4>

  <p class="p-section flow-text">In the FY 2012 IPPS final rule, a methodology was established to calculate the <strong>excess readmission ratio</strong> for each readmission measure under the Hospital Readmissions Reduction Program. The excess ratio is, in part, <strong>used to calculate the readmission payment adjustment for hospitals</strong>.
  <br><br>A hospital’s excess readmission ratio is a measure of a hospital’s readmission performance compared to the national average for the hospital’s set of patients with that applicable condition.</p>
  <p class="p-section flow-text">
  Use this site to create a simple and readable dashboard on the readmission ratios for any CMS certified hospital.
  </p>
</div>

<!-- Readmissions HighChart -->
<div class="chartBox">
<div id="chart-container" class="chart" style="width:90%; height:400px;"></div>
</div>
