<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Authentication</title>

    <!-- Bootstrap - Latest compiled and minified CSS & JS -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"> -->
    <!-- Materialize - Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <!-- Materialize Icons-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- public style.css -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <%- JSON.stringify(currentUser) %>
    <% include partials/alerts %>
    <% if (!currentUser) { %>
      <ul class="enter-nav">
        <li><a class="waves-effect waves-light btn modal-trigger" href="#login-modal">Login</a></li>
        <li type="button" class="list-nav" data-toggle="modal" data-target="#signup-modal">SignUp</li>
      </ul>
    <% } %>

    <% if (currentUser) { %>
      <ul class="enter-nav">
        <li class="list-nav"><a href="/dashboard">Dashboard</a></li>
        <li class="list-nav"><a href="/dashboard/data">Data Library</a></li>
        <li class="list-nav"><a href="/logout">Logout</a></li>
        <li class="inline"><i class="tiny material-icons">perm_identity</i><%= currentUser.name %></li>
      </ul>
    <% } %>
      <%- body %>

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <!-- Highcarts -->
    <script src="//code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="//code.highcharts.com/modules/exporting.js"></script>
    <!-- Bootstrap -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script> -->
    <!-- Materialize - Compiled and minified -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <!-- public app.js -->
    <script type="text/javascript" src="/js/app.js"></script>
  </body>
</html>
