body {
  font-family: 'Asap', sans-serif;
  background-color: rgba(239,235,233);
}
/* Navigation */
.enter-nav {
  text-align: right;
  margin: 20px 10px;
}
.list-nav {
  display: inline-block;
  padding: 5px 5px;
}
.greeting {
  font-size: 14px;
  color:#DF5353;
}
.list-name {
  text-align: right;
  padding: 5px 5px;
  font-size: 14px;
  margin-right: 10px;
}
/* Dashboard & Data ejs */
.thick {
  border-width: 3px;
  border-color: rgba(126,86,134,.9);
}
.report {
  margin-left: 25px;
  margin-top: 20px;
}
.header {
  display: inline-block;
  margin-top: 3px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 6px;
  font-weight: bold;
}
.header-btn {
  margin-top: 3px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;

}
.data-table {
  margin-left: 20px;
  padding-right: -10px;
}
.dropdown {
  width: 300px;
  margin: 0;
}
.dataset-box {
  /*background-color: lightgrey;*/
  border: 1px solid lightgrey;
  margin-left: 44px;
  padding: 5px;
}
.inline {
  display: inline-block;
}
.remove {
  color: red;
}
/* Modal */
.fine-print {
  font-size: 12px;
}
/* HighCahrts */
.chartBox {
  justify-content: center;
  margin-left: 40px;
}
.chart {
  margin: 10px 10px;
}
.semi-thick {
  border-width: 2px;
  color: lightgrey;
  width: 75%;
}
.chart-section {
/*  font-family: 'Asap', sans-serif;;*/
  text-align: center;
}
.p-section {
  font-size: 16px;
  /*font-family: 'Dosis', sans-serif;*/
}
