<!-- Modal New Dataset-->
<div id="dataset-modal" class="modal ">
  <!-- Form -->
  <form class="col-s12" action="/dashboard/new-dataset" method="POST">
    <div class="modal-content">
      <h4>Data your Dashboard  <span class="fine-print text-muted">*required</span></h4>
      <div class="row">
        <div class="row">
          <div class="input-field col-s12">
            <input id="benchmark" class="form-control" type="text" name="dataset" required>
            <label for="benchmark">Dashboard Name* </label>
          </div>
        </div>
        <h5>Select Hospital</h5>
        <div class="row">
          <div class="input-field">
            <select id="hospital" name="hospital">
                <option value="" disabled delected>Choose your option</option>
            <!-- forEach loop with hospitals in database -->
              <% hospitals.forEach(function(hos) { %>
                <option><%= hos %></option>
              <% }) %>
            </select>
            <label for="hospital">Hospital* </label>
            <p class="fine-print text-muted">*required - listed with 6-digit provider id assigned by the Center for Medicare and Medicaid Services (CMS)</p>
          </div>
        </div>
        <h5>Create Benchmark for Comparison</h5>
        <div class="row">
          <div class="input-field">
            <select id="states" name="state" required>
              <%- include selectState.ejs %>
             </select>
            <label for="states">Compare to*  </label>
          </div>
        </div>
        <div class="modal-footer">
          <input type="submit" class="modal-action modal-close waves-effect waves-green btn-flat">
          <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
        </div>
      </div>
    </div>
  <!-- end form -->
  </form>
</div>
