<!-- Modal -->
<div id="dataset-modal" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Data your Dashboard  <span class="fine-print text-muted">*required</span></h4>
    <div class="row">
      <!-- Form -->
      <form class="col-s12" action="/dashboard/new-dataset" method="POST">
        <div class="row">
          <div class="input-field col-s12">
            <input id="benchmark" class="form-control" type="text" name="dataset" required>
            <label for="benchmark">Dashboard Name* </label>
          </div>
        </div>
        <h5>Select Hospital</h5>
        <div class="row">
          <div class="input-field">
            <select id="hospital" name="hospital">
                <option value="" disabled delected>Choose your option</option>
            <!-- forEach loop with datasets in database -->
              <% hospitals.forEach(function(hos) { %>
                <option value=<%= hos.provider_id %>><%= hos.hospital_name %> - <%= hos.provider_id %></option>
              <% }) %>
            </select>
            <label for="hospital">Hospital* </label>
            <p class="fine-print text-muted">*required - listed with 6-digit provider id assigned by the Center for Medicare and Medicaid Services (CMS)</p>
          </div>
        </div>
        <h5>Create Benchmark for Comparison</h5>
        <div class="row">
          <div class="input-field">
            <select id="states" class="form-control" name="state" required>
              <%- include selectState.ejs %>
             </select>
            <label for="states">Compare to*  </label>
          </div>
        </div>
      </form>
      <!-- end form -->
    </div>
  </div>
  <div class="modal-footer">
    <input class="modal-action modal-close waves-effect waves-green btn-flat" type="submit" value="Add">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
  </div>
</div>
