<!-- Modal Login-->
<div id="login-modal" class="modal">
  <div class="modal-content">
    <h4>Welcome</h4>
    <div class="row">
    <!-- From -->
      <form class="col s12" action="/login" method="POST">
        <div class="row">
          <div class="input-field col s12">
            <input id="authEmail" type="email" class="validate" name="email">
            <label for="authEmail">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="authPassword" type="password" class="validate" name="password">
            <label for="authPassword">Password</label>
          </div>
        </div>
        <div class="modal-footer">
          <input type="submit" class=" modal-action modal-close waves-effect waves-green btn-flat">
          <a href="#" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancel</a>
        </div>
      </form>
      <!-- end form -->
    </div>
  </div>
</div>
